* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
}

.main {
  min-height: 60vh;
  margin-top: 20px;
  margin-bottom: 20px;
}
.navbar {
  background-color: rgb(238, 234, 234);
}

/* home */

.btn {
  color: rgb(31, 30, 30);
  background-color: rgb(212, 211, 211);
}

img {
  width: 180px;
  height: 250px;
}

.deleteButton button {
  width: 100%;
  background-color: rgb(235, 71, 71);
  color: white;
  padding: 9px 20px;
  /* margin: 35px 0; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-container {
  height: 15vh;
}

.btn1 {
  width: 150px;
  height: 40px;
  background-color: rgb(235, 71, 71);
  color: white;
  padding: 9px 20px;
  /* margin: 35px 0; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn2 {
  width: 150px;
  height: 40px;
  background-color: rgb(235, 71, 71);
  color: white;
  padding: 9px 20px;
  /* margin: 35px 0 35px 10px; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.checkout-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}

.items-detail {
  font-size: 25px;
  width: 90%;
}

.checkout-card button {
  width: 200px;
  background-color: rgb(235, 71, 71);
  color: white;
  padding: 9px 20px;
  margin: 35px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.priceDetail {
  display: flex;
  justify-content: space-between;
}

/* form */

.myForm {
  width: 90%;
  border-radius: 5px;
  background-color: rgb(243, 193, 132);
  margin-right: 5px;
  margin-left: 5px;
}

.myForm div {
  padding: 10px;
  margin-bottom: 0;
}

.myForm h3 {
  text-decoration: underline;
}

.myForm input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.myForm .userAgreement {
  display: flex;
  align-items: center;
}

.userAgreementlabel {
  display: flex;
  width: 140px;
  align-content: center;
}
.userAgreement input {
  width: 30px;
  display: flex;
  align-content: center;
}

.myForm button {
  width: 100%;
  background-color: rgb(235, 71, 71);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* laptop */
@media (min-width: 769px) {
  .myForm {
    width: 50%;
    margin: 0 auto;
  }
}
/* tablet */
@media (min-width: 481) and (max-width: 768px) {
  .myForm {
    width: 80%;
    margin: 0 auto;
  }
}
/* mobile
@media (max-width: 480px) {
  .myForm {
    width: 90%;
    margin: 0 auto;
  }
} */
/* basket-icon */

.navbar {
  position: relative;
}

.nav-link {
  display: flex;
  width: fit-content;
  color: gray;
  margin-top: 15px;
}

form {
  margin-bottom: 10px;
}

.nav-link p {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 10px;
  text-align: center;
  font-weight: 600;
  background-color: rgb(223, 86, 86);
  color: white;
  text-shadow: none;
  padding-bottom: 5px;
  margin-top: -8px;
}

/* ///////////////// */

/* sign in */

.signIn {
  margin: 0 auto;
  border-radius: 5px;
  background-color: rgb(243, 193, 132);
}

.signIn div {
  padding: 10px;
}

.signIn h3 {
  text-decoration: underline;
}

.signIn label {
  text-transform: capitalize;
}

.signIn input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.buttonContainer {
  padding: 10px;
}

.buttonContainer button {
  width: 100%;
  background-color: rgb(238, 234, 234);
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media (min-width: 786px) {
  .signIn {
    width: 50%;
    margin: 0 auto;
  }
}

/* confirmation box */

.empty_basket_container {
  margin: 1rem;
  max-width: 380px;
  border: 1px solid black;
  padding: 1rem;
  text-align: center;
}

.empty_basket_container div {
  text-align: center;
}

.empty_basket_container img {
  width: 236px;
  height: 160px;
  margin-bottom: 20px;
}

.btn_goback_container button {
  width: 50%;
  background-color: rgb(235, 71, 71);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media (min-width: 786px) {
  .empty_basket_container {
    width: 60%;
    margin: 0 auto;
  }
}

/* basket media quary */

@media (min-width: 786px) {
  .checkout-head-container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 5rem 0 5rem;
  }

  .checkout-container {
    width: 700px;
  }

  .basket-item .card {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    font-size: 1rem;
  }

  .basket-item .card img {
    padding: 0;
    width: 100px;
    height: 150px;
    object-fit: cover;
    margin-left: 10px;
  }
  .card-text {
    margin-bottom: 0;
  }

  .group-btn {
    display: flex;
    justify-content: center;
  }

  .button-container {
    display: none;
  }

  .back-delete {
    justify-content: center;
  }
}

.absolute-icon {
  position: absolute;
  top: -2px;
  right: 0;
}

.absolute-toggle-btn {
  position: absolute;
  top: 8px;
  left: 9px;
}

.search-bar {
  margin-top: 2rem;
}
@media (min-width: 786px) {
  .main {
    min-height: 80vh;
  }

  .search-bar {
    margin-top: 0;
  }

  .absolute-icon {
    margin-top: 14px;
  }

  .btn2 {
    margin-left: 10px;
  }
}

@media (min-width: 576px) {
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .navbar-nav {
    width: 300px;
    margin-right: 100px;
  }

  /* .navbar-brand {
    margin-left: -178px;
  } */

  form {
    margin-left: -80px;
    margin-bottom: 0;
  }

  .nav-item {
    margin-bottom: 15px;
  }

  .nav-link {
    margin-right: 11px;
  }
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: black;
  color: aliceblue;
  width: 100%;
}
